<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="js/main.js" defer></script>
    <script src="js/viz.js" defer></script>
    <title>Jeyul Kim</title>
  </head>
   <body>
    <%- include('partials/header') %>

    <main>
      <%- include('sections/about') %>
      <%- include('sections/skills',  { skills }) %>
      <%- include('sections/projects',{ projects }) %>
      <%- include('sections/contact') %>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
